:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #10100e;

  --spacing-medium: 20px;

  --border-radius: 3px;

  --font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--color-dark);
}